*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  list-style: none;
  font-family: sans-serif;
  outline: none;
  transition: 0.3s ease-in;
  border: none;
  box-sizing: border-box;
}
input{
  border: 1px solid #999;
  height: 40px;
  font-size: 18px;
  padding: 5px 10px;
}
